.adForm {
    text-align: center;
    padding-left: 36px;
    /*padding-top: 21px;*/
}

.adSelect {
    width: 560px;
    height: 87px;
    line-height: 32px;
    background: #fff;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    padding: 3px;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
    text-align: center;
    margin-bottom: 24px;
}

.adSelect select {
    opacity: 0;
    width: 560px;
    height: 87px;
    line-height: 32px;
    background: #fff;
    /*border: 1px solid #CFCFCF;*/
    border-radius: 5px;
    padding: 3px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: -49px;
}

.adSelect span {
    display: block;
    margin-top: 26px;
}

input#date {
    opacity: 0;
    width: 547px;
    height: 82px;
    line-height: 32px;
    background: #ffffff;
    /*border: 1px solid #CFCFCF;*/
    border-radius: 5px;
    /* padding: 3px; */
    vertical-align: middle;
    -webkit-appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: -50px;
}

input#tel {
    /* opacity: 0; */
    width: 536px;
    height: 76px;
    line-height: 32px;
    background: #ffffff;
    /*border: 1px solid #CFCFCF;*/
    border-radius: 5px;
    /* padding: 3px; */
    vertical-align: middle;
    -webkit-appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    /* margin-top: -58px; */
    font-size: 24px;
}

.adSelect .dot {
    width: 12px;
    height: 12px;
    border-right: 5px solid #d88d3b;
    border-bottom: 5px solid #d88d3b;
    border-radius: 3px;
    transform: rotate(45deg);
    margin-top: -26px;
    margin-left: 520px;
}

.nextButton {
    -webkit-appearance: none;
    outline: none;
    border: none;
    width: 555px;
    height: 86px;
    line-height: 32px;
    background: rgba(0,0,0,0);
    /*border-radius: 5px;*/
    margin: 0;
    padding: 0;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    text-align: center;
    color: #e55170;
    font-size: 28px;
}

.buttonBox {
    /*padding-left: 36px;*/
    /*padding-top: 23px;*/
    width: 560px;
    height: 87px;
    padding: 3px 3px 3px 3px;
    background: #fed17c;
    margin-left: 36px;
    border-radius: 5px;
}
.buttonBox_after{
    background: #C29D62;
}
.footer_logo{
    height: 150px;
    background:rgb(230, 84, 115) url("../image/logo.png")no-repeat center 80%;
    background-size: 70px;
}
.submit_remark{
    height: 50px;
    line-height: 55px;
    margin-top: -24px;
    display: block;
    color: #fed17c;
}